.wrapper {
  transform: scaleY(0);
  opacity: 0;
}

.banner {
  height: 70vh;
  background-color: #001a4a;
  display: grid;
  place-items: center;
}

.banner h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  grid-gap: 1rem;
  list-style: none;
}

.lhs {
  width: 50%;
  margin: 0 auto;
}

.rhs {
  display: flex;
  flex-direction: column;
}

.lhs img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listItem {
  display: flex;
  gap: 2rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listItem a {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: #001a4a;
}

.listItem p {
  font-size: 1.1rem;
  color: #999;
}

.link {
  align-self: flex-end;
}

.link p {
  font-size: 1.2rem;
  color: #999;
}

@media screen and (max-width: 768px) {
  .list {
    width: 100%;
  }

  .lhs {
    width: 100%;
  }

  .rhs {
    width: 100%;
  }

  .listItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    align-self: flex-start;
  }

  .lhs img {
    width: 100%;
    height: 100%;
  }

  .listItem a {
    font-size: 2rem;
  }

  .listItem p {
    font-size: 1rem;
  }

  .link p {
    margin-top: 1rem;
    font-size: 1rem;
  }
}
