.wrapper {
  transform: scaleY(0);
  opacity: 0;
}

.banner {
  height: 80vh;
  width: 100%;
  background: url(/images/asisa/asisa-banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 100px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: -1;
  border-radius: 0 0 100px 0;
}

.bannerText {
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.bannerText h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  z-index: 20;
  letter-spacing: 3px;
}

.bannerText p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  z-index: 20;
}

.main__content {
  width: 90%;
  margin: 3em auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  color: #001a4a;
  font-weight: 700;
  letter-spacing: 3px;
}

.header p {
  font-size: 1.5rem;
  color: #999;
  font-weight: 400;
}

.team__container {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 3em 0;
}

.team__container h1 {
  font-size: 2rem;
  color: #001a4a;
  font-weight: 700;
  letter-spacing: 3px;
}

.reps__ctn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 2rem;
}

.card__ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.card__ctn:hover {
  transform: scale(1.05);
}

.card__ctn h2 {
  font-size: 1.5rem;
  color: #001a4a;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

.card__ctn p {
  font-size: 1rem;
  color: #999;
  font-weight: 400;
  letter-spacing: 3px;
}
