.wrapper {
  width: 100%;
  transform: scaleY(0);
  opacity: 0;
}

.banner {
  height: 70vh;
  background-color: #001a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.banner h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.banner p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  width: 40%;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .banner p {
    width: 80%;
  }
}
