.section__a {
  position: relative;
  height: 80vh;
}

.main {
  transform: scaleY(0);
  opacity: 0;
}

.section__a__content {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main__content {
  width: 90%;
  margin: 0 auto;
}

.main__content h1 {
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #000;
}

.main__content p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #000;
}

.main__content button {
  background: #fff;
  color: #001a4a;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0 10px #000;
}

.main__content button:hover {
  background: #001a4a;
  color: #fff;
}

@media (max-width: 768px) {
  .main__content h1 {
    font-size: 3rem;
  }
  .main__content p {
    font-size: 1rem;
  }
  .main__content button {
    font-size: 1rem;
  }
}
