.wrapper {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 60%;
  height: 80%;
  background: #001a4a;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em;
  overflow-y: auto;
  position: relative;
  animation: modal 0.5s ease-in-out;
}

.inner::-webkit-scrollbar {
  width: 0.5rem;
}

.inner::-webkit-scrollbar-track {
  background: #fff;
}

.inner::-webkit-scrollbar-thumb {
  background: #001a4a;
}

.inner::-webkit-scrollbar-thumb:hover {
  background: #033d92;
}

.inner h1 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.inner p {
  color: #fff;
  font-weight: 400;
  margin: 0.3em 0;
}

.inner button {
  position: absolute;
  top: 30px;
  right: 10px;
  background: #fff;
  color: #000;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  font-size: 1rem 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
