.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.preloader__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo__ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.7);
  margin-right: 30px;
}

.img__ctn img {
  object-fit: contain;
}

.logo__text {
  font-size: 0.8em;
  font-weight: 600;
  color: #001a4a;
}

.percent {
  color: #001a4a;
}

.bar {
  width: 60%;
  margin-top: 20px;
}

.bar__confirm {
  width: 1%;
  padding: 1px 0px;
  background-color: #001a4a;
}

.heading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #001a4a;
}

.heading h1 {
  text-transform: uppercase;
  opacity: 0;
  font-size: 50px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .logo__ctn {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }

  .logo__text {
    font-size: 0.7em;
  }

  .heading {
    height: 100vh;
    flex-direction: column;
  }

  .heading h1 {
    font-size: 30px;
  }
}
