.wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70vh;
  gap: 2rem;
  margin: 3rem auto;
}

.lhs {
  display: flex;
  flex-direction: column;
}

.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quote i {
  font-weight: 400;
  color: #666;
  letter-spacing: 3px;
  font-size: 1.2em;
  margin-top: 0;
}

.quote span {
  font-size: 4em;
  color: blue;
  height: 50px;
  font-family: 'Dancing Script', cursive;
}

.quote span:nth-child(3) {
  margin-left: 90%;
}

.name {
  font-size: 1.3em;
  font-weight: 500;
  color: #666;
}

.image img {
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: auto;
  }

  .lhs {
    margin-bottom: 2rem;
  }

  .quote i {
    font-size: 0.8em;
  }
  .image {
    width: 100%;
  }

  .image img {
    width: 100%;
    height: 60vh;
  }
}
