.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2em;
  width: 90%;
  margin: 5em auto;
  border-radius: 8px;
  height: 70vh;
}

.image__ctn {
  width: 50%;
}

.image__ctn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px #000;
  border-radius: 8px;
  flex: 1;
}

.content {
  width: 100%;
  flex: 3;
}

.content h1 {
  font-weight: 600;
  /* color: #033d92; */
  color: #001a4a;
  font-size: 4rem;
  margin-bottom: 0.2em;
}

.content hr {
  width: 25%;
  height: 3px;
  border: none;
  background-color: #001a4a;
  margin: 0 0 1em;
  border-radius: 10px;
}

.content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.content button {
  background: #033d92;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}

.content button:hover {
  background: #001a4a;
}
